@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,400;0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
}

audio{ 
    display:none;
}

.nav .nav-li{
    list-style: none;
    text-decoration: none;
    margin-left: 50%;
    margin-top: 2.5%;
    font-family: 'Roboto Condensed', sans-serif;
}

.nav .nav-li a {
    
    margin: 0;
    padding: 0;
    text-decoration: none;
    margin-right: 30px;
    color: rgb(1,113,186);
    
}

.nav .img{
    margin-left: 12px;
    margin-top: 5px;
}


.backgrnd img{
    width: 1349px;
    height: 1000px;
}

#carouselExampleFade .carousel-item{
    width: 700px;
    margin-top: 2.5%;
    margin-left: 19%;
    margin-bottom: 2%;
}

#carouselExampleFade .carousel-control-prev {
    margin-left: 18%;
    margin-top: 60px;
}

#carouselExampleFade .carousel-control-next{
    margin-top: 60px;
    margin-right: 18%;
}

.essence{
    margin-left: 37%;
    margin-top: 2%;
    color: rgb(1,113,186);
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

