@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
*{
    margin: 0;
    padding: 0;
}

body{
    background-size: cover;
    background-position: center;
    font-family: 'Poppins', sans-serif;
    
}
.nav{
    margin-top: 10px;
    margin-left: 20px;
}
.signup{
    background-color: white;
    color: rgb(1,113,186);
    height: 510px;
    align-items: center;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 2%; 
    margin-bottom: 60px;
    padding-right: 40px;
    padding-left: 43px;
    padding-top: 20px;
    padding-bottom: 10px;
    /* border: solid 0.2rem black; */
}

.signup #submit{
        font-family: 'Poppins', sans-serif;
        color: white;
        background-color: rgb(1,113,186) ;
        border: none;
        align-items: center;
        width: 173px;
        padding-top: 5px;
        padding-bottom: 5px;
        cursor: pointer;
}

h3{
    margin-top: 21px;
}


